In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('/content/Exoplanetas.csv')
df.head()

,pl_name,sy_snum,sy_mnum,pl_orbper,pl_rade,pl_dens,pl_insol,pl_eqt,st_mass,st_lum,sy_pm,sy_dist
0,11 Com b,2,0,323.21000,12.2,14.90,NaN,NaN,2.09,1.978,140.383627,93.1846
1,11 UMi b,1,0,516.21997,12.3,13.80,NaN,NaN,2.78,2.430,10.679019,125.3210
2,14 And b,1,0,186.76000,13.1,2.76,NaN,NaN,1.78,1.840,299.252618,75.4392
3,14 Her b,1,0,1765.03890,12.6,7.03,NaN,NaN,0.91,-0.153,324.530306,17.9323
4,16 Cyg B b,3,0,798.50000,13.5,1.26,NaN,NaN,1.08,0.097,211.122213,21.1397

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5765 entries, 0 to 5764
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pl_name    5765 non-null   object
 1   sy_snum    5765 non-null   int64
 2   sy_mnum    5765 non-null   int64
 3   pl_orbper  5489 non-null   float64
 4   pl_rade    5744 non-null   float64
 5   pl_dens    5660 non-null   float64
 6   pl_insol   4025 non-null   float64
 7   pl_eqt     4283 non-null   float64
 8   st_mass    5758 non-null   float64
 9   st_lum     5510 non-null   float64
 10  sy_pm      5515 non-null   float64
 11  sy_dist    5740 non-null   float64
dtypes: float64(9), int64(2), object(1)
memory usage: 540.6+ KB

In [10]:
df.dropna(inplace=True) #Se borran datos ausentes
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3836 entries, 35 to 5751
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pl_name    3836 non-null   object
 1   sy_snum    3836 non-null   int64
 2   sy_mnum    3836 non-null   int64
 3   pl_orbper  3836 non-null   float64
 4   pl_rade    3836 non-null   float64
 5   pl_dens    3836 non-null   float64
 6   pl_insol   3836 non-null   float64
 7   pl_eqt     3836 non-null   float64
 8   st_mass    3836 non-null   float64
 9   st_lum     3836 non-null   float64
 10  sy_pm      3836 non-null   float64
 11  sy_dist    3836 non-null   float64
dtypes: float64(9), int64(2), object(1)
memory usage: 389.6+ KB

In [11]:
print(f'Tamaño del set antes de eliminar las filas repetidas: {df.shape}')
df.drop_duplicates(inplace=True)
print(f'Tamaño del set después de eliminar las filas repetidas: {df.shape}')

Tamaño del set antes de eliminar las filas repetidas: (3836, 12)
Tamaño del set después de eliminar las filas repetidas: (3836, 12)

In [12]:
df.to_csv('exoplanetas.csv', index=False)